body {
  background-color: rgb(250, 209, 148);
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
}

a{
  font-size: 15px;
  padding: 10px;
  background-color: rgb(176, 253, 243);
}